.instapost {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-head .left {
    display: flex;
    align-items: left;
}
.post-head .left .fab {
    font-size: 40px;
    margin-right: 10px;
}

.post-head .left .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-head .title {
    font-weight: bold;
}
.post-head .subtitle {
    font-weight: normal;
}


.post-body img {
    width: 100%;
    height: auto;
}
.post-foot {
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
}

.footright {
    
    float: right;

}


.post-foot div {
    margin-bottom: 10px;
}
